.nav {
  height: 5rem;
  width: 100%;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: dimgrey;
}

.navItem {
  color: white;
  font-size: 120%;
  font-weight: bold;
  margin-left: 2rem;
}

.navItem:hover {
  cursor: pointer;
}